:root {
    --outer-space-crayola: rgb(52, 63, 62);
    --quick-silver: rgb(171, 159, 157);
    --gainsboro: rgb(227, 219, 219);
    --bud-green: rgb(95, 173, 86);
    --electric-purple: rgb(194, 0, 251);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--quick-silver);
}

header {
    margin: 0;
    background-color: var(--outer-space-crayola);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    font-size: 30px;
    color: white;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: var(--electric-purple);
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 20px;
}

nav a:hover::before {
    content: ">";
}

.center {
    display: flex;
    justify-content: center;
}

main {
    width: 800px;
    margin: 20px;
    background-color: var(--outer-space-crayola);
    color: white;
    padding: 10px;
}

h2 {
    color: var(--electric-purple);
    font-size: 40px;
    margin: 15px;
}

section>h3 {
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
}

li {
    margin: 10px;
    margin-left: 30px;
}

.profile-card {
    height: fit-content;
    background-color: var(--gainsboro);
    color: var(--outer-space-crayola);
    border: var(--outer-space-crayola) solid 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 10px 20px;
    padding: 20px;
}

.profile-card img {
    max-width: 300px;
    border: var(--outer-space-crayola) solid 5px;
    border-radius: 20px;
}

.profile-card h3 {
    font-size: 30px;
    margin: 20px;
}

#bio {
    margin: 20px;
}

.cards {
    width: 600px;
    display: block;
    color: var(--outer-space-crayola);
}

a.card-link {
    text-decoration: none;
    color: rgb(158, 3, 205);
}

#first-card {
    width: auto;
    min-height: 300px;
    background-image: url("../images/code.jpeg");
    background-size: cover;
    border: var(--gainsboro) solid 5px;
    display: flex;
    align-items: end;
}

.card:hover {
    box-shadow: 5px 5px 8px var(--electric-purple);
    position: relative;
    transform: translateY(-5px) translateX(-5px);
    transition: box-shadow 500ms ease-in-out;
    transition: transform 500ms;
}

#first-card p,
#first-card h3 {
    margin: 5px 40px;
}

.sub-cards {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.sub-cards h3 {
    font-size: 15px;
    margin: 5px 10px 5px 5px;
}

.sub-cards p {
    font-size: 10px;
    margin: 5px 10px 5px 5px;
}

.card-content {
    background-color: rgba(227, 219, 219, 0.775);
    width: 100%;
}

#bootcamp-proj-two {
    background-image: url("../images/data.jpg");
}

#yelp-camp {
    background-image: url("../images/camp.jpg");
}

#in-depth-portfolio {
    background-image: url("../images/mountains.JPG");
    background-position: top 10px;
}

#shuffle-music {
    background-image: url("../images/concert.jpg");
    background-position: bottom;
}

.sub-cards .card {
    display: flex;
    align-items: end;
}

.card {
    border-radius: 20px;
    width: 290px;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border: var(--gainsboro) solid 5px;
    display: block;
    overflow: hidden;
    margin: 5px;
}

.contact-card {
    height: fit-content;
    background-color: var(--gainsboro);
    color: var(--outer-space-crayola);
    border: var(--outer-space-crayola) solid 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
}

#contact-links {
    display: flex;
    flex-wrap: wrap;
}

.contact-card h3 {
    font-size: 25px;
    margin: 20px;
}

.contact-card a {
    text-decoration: none;
    color: var(--outer-space-crayola);
}

.contact-card h3:hover {
    text-decoration: none;
    position: relative;
    transform: translateY(-3px) translateX(-3px);
    transition: box-shadow 500ms ease-in-out;
    transition: transform 500ms;
}

#tooltip-phone {
    position: relative;
}

#tooltip-phone:hover::before {
    content: attr(data-rating);
    font-size: 15px;
    color: var(--outer-space-crayola);
    background-color: var(--gainsboro);
    border-radius: 5px;
    border: 3px solid var(--outer-space-crayola);
    top: 40px;
    position: absolute;
    z-index: 1000;
    padding: 2px 4px;
    width: 100%;
    content: "(720)643-3140";
    white-space: nowrap;
    text-shadow: none;
    transform: none;
    width: fit-content;
}

footer {
    margin: 0;
    background-color: var(--outer-space-crayola);
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: var(--electric-purple);
    padding: 20px;
}