:root {
    --outer-space-crayola: rgb(52, 63, 62);
    --quick-silver: rgb(171, 159, 157);
    --gainsboro: rgb(227, 219, 219);
    --bud-green: rgb(95, 173, 86);
    --electric-purple: rgb(194, 0, 251);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--quick-silver);
}

header {
    margin: 0;
    background-color: var(--outer-space-crayola);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    font-size: 30px;
    color: white;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: var(--electric-purple);
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

main {
    width: 800px;
    margin: 20px;
    background-color: var(--outer-space-crayola);
    color: white;
    padding: 10px;
}

h2 {
    color: var(--electric-purple);
    font-size: 40px;
    margin: 15px;
}

section>h3 {
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
}

li {
    margin: 10px;
    margin-left: 30px;
}

.profile-card {
    height: fit-content;
    background-color: var(--gainsboro);
    color: var(--outer-space-crayola);
    border: var(--outer-space-crayola) solid 8px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.profile-card img {
    max-width: 300px;
    border: var(--outer-space-crayola) solid 5px;
    border-radius: 10%;
}

.profile-card h3 {
    font-size: 30px;
    margin: 20px;
}

#bio {
    margin: 20px;
}

.cards {
    width: 600px;
    display: block;
    color: var(--outer-space-crayola);
}

.first-app {
    width: auto;
}

.first-img {
    border-radius: 10%;
    border: var(--quick-silver) solid 5px;
    margin: 5px;
}

.first-app p {
    padding: 10px;
}

.sub-cards {
    display: flex;
    width: 600px;
    font-size: 10px;
}

.card {
    background-color: var(--gainsboro);
    border-radius: 10%;
    max-height: 100px;
    border: var(--gainsboro) solid 10px;
    display: block;
    overflow: hidden;
    margin: 10px;
    border: var(--outer-space-crayola) solid 5px;
}

.card {
    background-image: url("/assets/images/camp.jpg");
}

.card h3 {
    margin-left: 20px;
}

.card p {
    margin: 10px;
}

footer {
    margin: 0;
    background-color: var(--outer-space-crayola);
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: var(--electric-purple);
    padding: 20px;
}